<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/StyleSheet.css" rel="styleSheet" />
</head>
<body>
    <div class="Container">
        <div class="page-content">
            @RenderBody() 
        </div>
    </div>
<div>
</div>
</body>
</html>
